@font-face {
    font-family: Kolker_Brush;
    src: url("Kolker_Brush/KolkerBrush-Regular.ttf");
}
body{
    font-family: Kolker_Brush;
    text-align: center;
    background-color: lightcyan;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
input{
    border-radius: 20px;
    background-color: dimgrey;
    color: white;
}
p{
    font-size: 30px;
}